//
// Foundation-Jekyll
// Author: @aaronkwhite
//

@import url(http://fonts.googleapis.com/css?family=Raleway:600,300);

body {
  background: $white;
  color: $blue;
  margin-top: 4rem;
}

h1, h2, h3, h4, h5 {
  color: $blue;
}

::selection {
  background: $blue;
  color: #fff;
  text-shadow: none;
}

#hero {
  h2 {
    color: $blue;
    font-size: rem-calc(24);
    margin: 3rem 4rem;
  }
  hr {
    border-color: $grayLight;
  }
  .download {
    
    .link {
      background: $grayLight;
      display: inline-block;
      font-size: rem-calc(14);
      font-weight: 600;
      padding: .5rem 1rem;
    }
    .git {
      background: $grayLight;
      display: inline-block;
      font-size: rem-calc(14);
      padding: .5rem 1rem;
      &:before { 
        content: "$";
        color: darken($grayLight, 15%);
        left: -10px;
      }
      input {
        background: transparent;
        border: none;
        outline: none;
        width: 20rem;
      }
    }
    .author {
      font-size: rem-calc(14);
      margin: 1rem 0 2rem 0;
    }
  }
}

.content {
  padding-left: 2rem;
  padding-right: 2rem;
}
