//
// Foundation-TwentyFifteen
// Author: @aaronkwhite
//

body {
  background: $grayLight;
}

#sidebar {
  background: $white;
  @media #{$medium-up} {
    border-right: 1px solid rgba(51, 51, 51, 0.1);
    float: left;
    height: 100%;
    margin-right: -100%;
    width: 30%;
  }
}


#content {
  @media #{$medium-up} {
    float: left;
    height: 100%;
    margin-left: 30%;
    width: 70%;
  }
}