<section class="row support">
  <div class="small-12 medium-8 medium-offset-2 large-offset-2 end columns">

    <hr class="half" />
    
    <ul class="menu hide-for-small-only">
      <li><i class="fa fa-copyright copyright"></i> {{ site.time | date: "%Y" }} &nbsp;&nbsp;REALLY TALL... REALLY AMAZING!</li>
      <li><a href="http://www.entrepreneurialbynature.com"><i class="fa fa-heart heart"></i> BUILT IN COLORFUL COLORADO</a></li>
    </ul>

    <p class="show-for-small-only">
      <i class="fa fa-copyright copyright"></i> {{ site.time | date: "%Y" }} &nbsp;&nbsp;REALLY TALL... REALLY AMAZING!
      <br />
      <a href="http://www.entrepreneurialbynature.com"><i class="fa fa-heart heart"></i> BUILT IN COLORFUL COLORADO</a>
    </p>

  </div>
</section>



<!-- Start Javascript -->
<script src="{{ site.baseurl }}assets/javascripts/vendor/jquery/jquery-2.1.4.min.js"></script>
<script src="{{ site.baseurl }}assets/javascripts/foundation.min.js"></script>
<script src="{{ site.baseurl }}assets/javascripts/foundation.interchange.js"></script>
<script src="{{ page.base_url }}assets/javascripts/scripts.js"></script>

<!-- Addthis -->
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54a08f995ef861b3" async="async"></script>-->

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.ga_id }}', 'auto');
  ga('send', 'pageview');
</script>
