body {
  font-family: 'Muli', 'Helvetica-Neue', 'Arial', sans-serif;
  font-weight: 300;
}

.fourohfour {
  margin-top: 4rem;
  p {
    text-align: center;
  }
}

.hero {
  background: url(../images/fj-space.png) center center repeat-x;
  background-size: cover;
  color: $white;
  text-align: center;
  position: relative;
  overflow: visible;
  .title {
    text-align: center;
  }
  .tagline {
    text-align: center;
  }
  .hero-button {
    background: $red;
    font-weight: bold;
    box-shadow:0 -2px 0 rgba(0,0,0,0.2) inset;
      -moz-box-shadow:0 -2px 0 rgba(0,0,0,0.2) inset;
    border: none;
    small {
      font-weight: normal;
    }
    &:hover {
      background: darken($red, 5%);
    }
  }
  // Media Queries
  // Small Screens
  @media only screen {
      margin-bottom: 1rem;
      padding: 6rem 0 2.5rem 0;
    .title {
      font-size: rem-calc(24);
    }
    .tagline {
      font-size: rem-calc(14);
    }
  }
  //Medium Screens
  @media only screen and (min-width: 40.063em) {
    margin-bottom: 2.5rem;
    padding: 200px 0 220px 0;
    .title {
      font-size: rem-calc(40);
    }
    .tagline {
      font-size: rem-calc(18);
    }
  }
  // Large Screens
  @media only screen and (min-width: 64.063em) {
    margin-bottom: 4rem;
    padding: 200px 0 240px 0;
    .title {
      font-size: rem-calc(48);
    }
    .tagline {
      font-size: rem-calc(24);
    }
  }
}

.features {
  text-align: center;
  //margin: 2rem auto;
  h6 {
    color: #7A8698;
    text-transform: uppercase;
    //padding: 8rem 0 2rem 0;
    margin-top: -1rem;
  }
}

.about {
  margin-top: 2rem;
}

.getstarted {
  margin-top: 2rem;
}

.half {
  margin: 2rem auto;
  width: 140px;
}
