//
// Foundation-Jekyll - Style Variables
// Author: @aaronkwhite
//

// Colors
$black:                     #3d434c;
$white:                     #ffffff;

$grayDark:                  #aaaaaa;
$gray:                      #eeeeee;
$grayLight:                 #f2f2f2;

$blue:                      #008cba;
$red:                       #e97e6f;

// Highlight.js Colors
$color_gallery_approx: #eee;
$color_navy_blue_approx: #000077;
$color_japanese_laurel_approx: #070;
$color_crimson_approx: #d14;
$color_lemon_grass_approx: #998;
$color_red_berry_approx: #900;
$color_east_bay_approx: #458;
$teal: teal;
$color_azure_approx: #336699;
$color_buttered_rum_approx: #997700;
$color_governor_bay_approx: #3344bb;
$color_persian_green_approx: #099;
$color_red_approx: #f00;
$color_kashmir_blue_approx: #579;
$color_tutu_approx: #fff0ff;
$color_violet_eggplant_approx: #880088;
$color_flirt_approx: #990073;
$color_mai_tai_approx: #a60;
$color_teal_approx: #088;
$color_bay_of_many_approx: #339;
