{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ site.name }}</title>

    <meta name="description" content="{{ site.proj_name }}" />    
    <meta name="author" content="{{ site.author }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <link rel="stylesheet" href="{{ page.base_url }}assets/stylesheets/style.css" />
    
    <script src="{{ page.base_url }}assets/javascripts/modernizr-2.8.3-min.js"></script>

  </head>
  <body>
  