{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
{% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" data-useragent="Mozilla/5.0 (compatible; MSIE 10.0; Windows NT 6.2; Trident/6.0)">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ site.name }}</title>

    <meta name="description" content="{{ site.site_description }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="copyright" content="{{ site.copyright }}"/>

    <!-- 404 Redirect -->
    {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <!-- /404 Redirect -->

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <link rel="stylesheet" href="{{ page.base_url }}assets/stylesheets/style.css" />

    <!-- Foundation Favicons -->
    <link href="http://foundation-forum0.zurbstatic.com/assets/favicon-47a37f0a0e941bf5966d5d4e8a66de14.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700"/>

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://foundation-forum2.zurbstatic.com/assets/favicons/apple-touch-icon-144x144-precomposed-988ff9eec894c302f748ee817b9a2912.png">

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://foundation-forum2.zurbstatic.com/assets/favicons/apple-touch-icon-114x114-precomposed-8c2ef526523efe47e11e7af1068cf38d.png">

    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://foundation-forum2.zurbstatic.com/assets/favicons/apple-touch-icon-72x72-precomposed-1cc97a9c68e5d59ae4f650c989e5354b.png">

    <link rel="apple-touch-icon-precomposed" href="http://foundation-forum2.zurbstatic.com/assets/favicons/apple-touch-icon-precomposed-197a05ba144fa3c26d536f2295cc056e.png">

  </head>
  <body>
